header {
    background: #fff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1001;
}

.header__search__wrapper {
    background: #f0f2f5;
    border-radius: 1.4rem;
    cursor: pointer;
}

@media (min-width: 1200px) {
    .header__search__wrapper {
        cursor: text;
    }
}

.header__search {
    background: transparent;
    border: none;
    outline: none;
    color: #222;
}

.header__search::placeholder {
    color: #808080;
}

.header__icon {
    position: relative;
    cursor: pointer;
    padding: 0.6rem 0.8rem;
    border-radius: 0.6rem;
    transition: background 0.2s ease-in;
}

@media (min-width: 576px) {
    .header__icon {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }
}

@media (min-width: 768px) {
    .header__icon {
        padding-left: 1.4rem;
        padding-right: 1.4rem;
    }
}

@media (min-width: 992px) {
    .header__icon {
        padding-left: 1.8rem;
        padding-right: 1.8rem;
    }
}

@media (min-width: 1200px) {
    .header__icon {
        padding-left: 2.2rem;
        padding-right: 2.2rem;
    }
}

.header__icon:hover {
    background: #f0f2f5;
}

.header__icon.active {
    color: #1877f2;
    background: transparent;
    fill: #1877f2;
}

.header__icon.active::after {
    position: absolute;
    left: 0;
    top: 102%;
    content: "";
    width: 100%;
    height: 3px;
    background: #1877f2;
}

.header__avatar__wrapper {
    border-radius: 1.4rem;
    transition: background 0.2s ease-in;
    cursor: pointer;
}

.header__avatar__wrapper:hover {
    background: #f0f2f5;
}

.header__avatar {
    width: 35px !important;
    height: 35px !important;
}

.header__avatar__icon {
    width: 40px !important;
    height: 40px !important;
    background: #dfdfdf !important;
    cursor: pointer;
    transition: background 0.2s ease-in;
}

.header__avatar__icon:hover {
    background: #cfcfcf !important;
}
