body {
    overflow-x: hidden;
    background: #f0f2f5;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.sidebar__wrapper {
    max-width: 20%;
}

.main__content__wrapper {
    max-width: 100%;
}

@media (min-width: 576px) {
    .main__content__wrapper {
        max-width: 75%;
    }
}

@media (min-width: 768px) {
    .main__content__wrapper {
        max-width: 70%;
    }
}

@media (min-width: 992px) {
    .main__content__wrapper {
        max-width: 50%;
    }
}

@media (min-width: 1200px) {
    .main__content__wrapper {
        max-width: 45%;
    }
}

.widgets__wrapper {
    max-width: 20%;
}
